.page, .app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #ccb9d9, #5a4799, #2c2740, #6c4ca6, #9065c3, #c894d8, #e9d8f0);
  background-size: 200% 200%;
  animation: gradientShift 10s ease infinite;
  color: white; 
  font-family: Arial, sans-serif;
}

.app-container {
  text-align: center;
  overflow-y: scroll;
  padding: 20px
}

.App {
  text-align: center;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mensaje {
  font-size: 1.2rem;
  color: #e9d8f0;
  margin: 20px 0;
}

.juego {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 30px;
  width: 100%;
  max-width: 900px;
  gap: 80px;
}

.poste {
  width: 200px;
  height: 320px;
  background-color: #d4abdc;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #7e5eb8;
}

.disco {
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  color: white;
  border-radius: 8px;
  margin-bottom: 5px;
  background: linear-gradient(145deg, #6e5494, #926dc4);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.disco:nth-child(1) {
  width: 60px;
}

.disco:nth-child(2) {
  width: 90px;
}

.disco:nth-child(3) {
  width: 120px;
}

.disco:nth-child(4) {
  width: 150px;
}

.disco:nth-child(5) {
  width: 180px;
}

.advertencia {
  display: none;
  font-size: 1.5rem;
  color: red;
}

body.small .advertencia {
  display: block;
}

body.small .juego, body.small .controles {
  display: none;
}

@media (max-width: 900px) {
  .juego {
    max-width: 90%;
    gap: 40px;
  }

  .poste {
    width: 160px;
    height: 280px;
  }

  .disco {
    width: calc(90% - 10px);
    max-width: 140px;
  }
}

@media (max-width: 600px) {
  .juego {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .poste {
    width: 90%;
    height: 240px;
  }

  .disco {
    width: calc(80% - 10px);
    max-width: 120px;
  }
}

.disco.seleccionado {
  border: 3px solid #ffcc00;
  background-color: #d4a400;
  transform: scale(1.1);
}
